extends base.layout.pug

block head
    title Account setting - Logon Computer

block body
    .container
        .row
            // left col account settings
            .d-none.d-lg-block.col-lg-3
                .mr-2
                    .list-group.font-small.mb-4.shadow-sm
                        .list-group-item.list-group-item-secondary.rounded-0.font-weight-bold Account Setting
                        .flex-column.list-group-item.py-3

            .col-lg-9
                .d-flex.align-items-end.justify-content-between
                    h4.text-info Account Profile
