extends nav-left-no-ad.layout.pug

block content
    h4.text-info.d-inline.mr-2 Your Cart
    span.text-muted (3 Items)
    hr.border-info.mt-1.mt-md-2.mb-md-4

    div
        div.card.shadow-sm
            div.row.no-gutters
                div.col-3
                    img.card-img-top.w-100(src=`../images/items/item-cart/1.jpg`)
                div.col-9
                    div.card-body
                        h6.card-title EVGA GeForce RTX 2070 Black GAMING
                        p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content.
                            | This content is a little bit longer.

