extends base.layout.pug

block body
    div.container.mb-5
        div
            h4.text-info.d-inline.mr-2 Check Out
            span.text-muted (3 Items)
            hr.border-info.mt-1.mt-md-2.mb-md-4
        div
            div.accordion.shadow#checkout-accordion
                div.card
                    div.card-header
                        a.card-link.text-dark.font-weight-bolder(href="#" role="button" data-toggle="collapse" data-target="#checkout-account")
                            h5.my-1 Step 1: Login to Account
                    div#checkout-account.collapse.show(data-parent="#checkout-accordion")
                        div.card-body.px-md-5
                            div.row
                                div.col-md-6.col-lg-4.offset-lg-1
                                    form#checkout-sign-in-form.d-flex.flex-column
                                        .form-group
                                            label(for="checkout-sign-in-email") Email or phone number
                                            input#checkout-sign-in-email.form-control(type="text" placeholder="Enter email or Phone Number")
                                        .form-group
                                            label(for="checkout-sign-in-password") Password
                                            input#checkout-sign-in-password.form-control(type="password" placeholder="Enter password")
                                        .form-check.form-group
                                            input#checkout-keep-sign-in.form-check-input(type="checkbox")
                                            label.form-check-label(for="checkout-keep-sign-in") Remember me
                                        button.btn.btn-primary.align-self-md-center.w-50.d-none.d-md-block(type="submit") Login
                                        button.btn.btn-primary.d-md-none(type="submit") Login
                                    hr.d-md-none
                                div.col-md-1.col-lg-2.d-none.d-md-flex.flex-column.align-items-center
                                    div.border.border-muted.flex-grow-1
                                div.col-md-5.col-lg-4.d-flex.justify-content-center.flex-column
                                    button.btn.btn-outline-primary.mb-2 Login with Facebook
                                    button.btn.btn-outline-danger.mb-2 Login with Google
                                    button.btn.btn-outline-success.mb-2 Create An Account

                div.card
                    div.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo")
                                | Collapsible Group Item #2
                    div#collapseTwo.collapse(data-parent="#accordionExample")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                div.card
                    div.card-header
                        h2.mb-0
                            button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree")
                                | Collapsible Group Item #3
                    div#collapseThree.collapse(data-parent="#accordionExample")
                        .card-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.


    hr.border-light
