doctype html
html(lang="en")
    head
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-md
            a(href="#").navbar-brand Logo
            ul.navbar-nav
                li.nav-item
                    a(href="#").nav-link Link2
                li.nav-item
                    a(href="#").nav-link Link1
            form#search.form-inline.ml-auto
                input.form-control.mr-2
                button.btn.btn-outline-light Search

        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
