doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
            a(href="#").navbar-brand.mx-sm-2
                i.fas.fa-boxes
                span.ml-1 Logon
            button(data-target="#nav-collapse" data-toggle="collapse").navbar-toggler
                span.navbar-toggler-icon

            div#nav-collapse.collapse.navbar-collapse
                form#search.ml-lg-4.my-1.form-inline
                        input.form-control.mr-2
                        button.btn.btn-outline-light.my-sm-0.my-2 Search
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a(href="#").nav-link Home
                    li.nav-item
                        a(href="#").nav-link About
                    li.nav-item
                        a(href="#").nav-link Contact
                    li.nav-item
                        a(href="#").nav-link Support




        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
