doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
            button(data-target="#nav-collapse-menu" data-toggle="collapse").navbar-toggler
                i.fas.fa-bars
            button(data-target="#nav-collapse-option" data-toggle="collapse").navbar-toggler.ml-auto
                i.fas.fa-user-cog

            div#nav-collapse-menu.collapse.navbar-collapse
                hr.d-block.d-lg-none.border-light
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a(href="#").nav-link
                            i.fas.fa-home.mr-1
                            span Home
                    li.nav-item
                        a(href="#").nav-link
                            i.fas.fa-box.mr-1
                            span Products
                    li.nav-item
                        a(href="#").nav-link
                            i.fas.fa-phone-alt.mr-1
                            span Contact
                    li.nav-item
                        a(href="#").nav-link
                            i.fas.fa-user-friends.mr-1
                            span Support
                    li.nav-item
                        a(href="#").nav-link
                            i.fas.fa-question-circle.mr-1
                            span About

            div#nav-collapse-option.collapse.navbar-collapse
                hr.border-light
                ul.navbar-nav.ml-auto.mr-2
                    li.nav-item
                        a(href="#").nav-link Sign in
                            i.fas.fa-sign-in-alt.ml-2
                    li.nav-item
                        a(href="#").nav-link Sign up
                            i.fas.fa-user-plus.ml-2

        header




        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
