extends nav-left-no-ad.layout.pug

block ad
    img.rounded.w-100.shadow-sm.mb-4.border-light(src="../images/ad/tablet.jpg")
    div.card.shadow-sm.mb-4
        div.card-body
            h5.card-text.font-weight-light 50% Discount offer, Don't miss out!
            a.card-link.font-small(href="#") Read more >>
    img.rounded.w-100.shadow-sm.mb-4.border-light(src="../images/ad/laptop.jpg")
    div.card.shadow-sm.mb-4
        div.card-body
            h5.card-text.font-weight-light Sign in now to get a 30% coupon!
            a.card-link.font-small(href="#") Read more >>
