doctype html
html(lang="en")
    head
        title= "Document"
        link(rel="stylesheet" href="../css/font.min.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
    body

        script(src="../scripts/jquery-3.4.1.min.js")
        script(src="../scripts/bootstrap.bundle.min.js")
