body {
    background-color: #f4f5f7;
}

.font-small {
    font-size: 14px;
}

.smaller {
    font-size: 65%;
    font-weight: 400;
}

.large {
    font-size: 120%;
}

.overflow-auto {
    overflow: hidden !important;
}

.overflow-auto:hover {
    overflow: auto !important;
}
