body {
    background-color: #f4f5f7;
}

.font-small {
    font-size: 14px;
}

.smaller {
    font-size: 65%;
    font-weight: 400;
}

.large {
    font-size: 120%;
}

.z-top {
    z-index: 2000;
}

.btn-over-stretched-link{
    z-index: 1!important;
}
